# All of the following issues are not a concern for the Dockerfiles in this
# repository since they're only used in the build process.
exclude-queries:
  - fd54f200-402c-4333-a5a4-36ef6709af2f # Missing User Instruction
  - b03a748a-542d-44f4-bb86-9199ab4fd2d5 # Healthcheck Not Set
  - 965a08d7-ef86-4f14-8792-4a3b2098937e # Apt Get Install Pin Version Not Defined
  - df746b39-6564-4fed-bf85-e9c44382303c # Apt Get Install Lists Were Not Deleted
